.main{
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    border: 2px solid black;
    margin-right: 530px;
    padding: 20px;
    text-align: center  ;
    background-color: rgb(27, 158, 214);
    box-shadow: 10px 10px ;
    /* align-items: center; */
    margin-top: 40px;

}
h1{
    color: white;
}

button{
    /* padding: 10px; */
    /* height: 30px; */
    width: 39px;
    line-height: 40px;
    border-radius: 50%;
    /* text-align: center; */
    background: transparent;
    color: white;
    background-color: rgba(173, 169, 169, 0.842);
    font-size: 20px;
}
.row1,.row2,.row3,.row4,.row5{
     margin-top:10px ;
}